* {

    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width:1170px;
    background-color: dodgerblue;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
ul{

    list-style: none;
}

.footer{ 

    background-color: white;
    padding: 300px 0;
}
.footer-col {
    width: 25%;
    padding:015px ;
    }
    



